
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <p>Title </p>
                    
                                    <input type='text' [(ngModel)]="task.title" placeholder="What is the name of the task?" class="form-control">
                    
                                    <p> Description</p>
                                    <textarea [(ngModel)]="task.description" placeholder="Write something about the task" class="form-control" rows="4"></textarea>
                    
                    
                                    <p> From:</p>
                                    <input type="date" [(ngModel)]="task.startDate" placeholder="Enter start date" class="form-control">
                    
                    
                                    <p> To:</p>
                                    <input type="date" [(ngModel)]="task.endDate" placeholder="Enter end date" class="form-control">
                    
                                    <p>Set priority</p>
                                    <select class="form-control">
                                    <option *ngFor="let p of task.priority" value="p.value">{{p.label}}</option>
                                    </select>
                    
                                    <p>Reporter</p>
                    
                                    <input type="text" [(ngModel)]="task.reporter" placeholder="Enter reporter name" class="form-control">
                                      <p>Asignee</p>  
                                    <input type="text" [(ngModel)]="task.asignee" placeholder="Enter asignee name" class="form-control">
                    
                    
                                    <button class="btn btn-default" (click)="createTask()"  routerLink="/task-details" routerLinkActive="active">Create</button>
                                   
                    
                    
                    
            </div>
        </div>
    </div>
</div>
               