<div class="container-fluid content">
    <div class="row">
        <div class="col-md-12">
            <h2>List of all tasks</h2>
    <!-- Tasks list starts here -->
    <div class="table-responsive">      
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Reporter</th>
                        <th>Assignee</th>

                    </tr>
                </thead>
                <!-- end thead -->
                <tbody>
                    <tr *ngFor="let item of task">
                        <td>{{item.title}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.startDate | date:'MM dd yyyy'}}</td>
                        <td>{{item.endDate  | date:'MM dd yyyy'}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.priority}}</td>
                        <td>{{item.reporter}}</td>
                        <td>{{item.assignee}}</td>
                        <td (click)="Assign(status)" *ngIf="item.status=='new'"> Assign</td>
                        <td (click)="Complete()" *ngIf="item.status=='assign'"> Complete</td>
                        <td *ngIf="item.status=='completed'"> Completed</td>
                    </tr>
                </tbody>
                <!-- end tbody -->
            </table>
            <!-- end table -->
            <button class="btn btn-default" (click)="createNewTask()">Create new task</button>
        </div>
        <!-- end col-md-12 -->

        </div>

        <!-- Create new task section -->
            <div class="container create-task-section" *ngIf="isVisible">
                <div class="row">
                <div class="col-md-12">
                    <label>Title*</label>
                    <input id="title" type='text' [(ngModel)]="actualTitle" required placeholder="A short, descriptive name of the task" class="form-control" value="">
                </div>
              
                <div class="col-md-12">
                    <label> Description*</label>
                    <textarea [(ngModel)]="actualDescription" required placeholder="A long description of the task" rows="4" class="form-control"></textarea>
                </div>
              <div class="col-md-6">
                    <label> From:*</label>
                    <input type="text" [(ngModel)]="actualStartDate" required onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Start date" class="form-control unstyled">
                </div>
               <div class="col-md-6">
                    <label> To:*</label>
                    <input type="text" [(ngModel)]="actualEndDate" required onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="End date" class="form-control unstyled">
                </div>
                <div class="col-md-12">
                        <label>Set status*</label>
                            <select class="form-control" [(ngModel)]="actualStatus" required>
                               <option *ngFor="let s of statusList" >{{s}}</option>
                             </select>
                      </div>
                 <div class="col-md-12">
                   <label>Set priority</label>
                       <select class="form-control" [(ngModel)]="actualPriority">
                          <option *ngFor="let p of priorityList" >{{p}}</option>
                        </select>
                 </div>

               
               <div class="col-md-6">
                    <label>Reporter</label>
                    <input type="text" [(ngModel)]="actualReporter" placeholder="Enter reporter name" class="form-control">
                </div>
               <div class="col-md-6">
                    <label>Assignee</label>
                    <input type="text" [(ngModel)]="actualAssignee" placeholder="Enter assignee name" class="form-control">
                </div>
                <div class="col-md-12">
                   <p *ngIf="errorMsg" class="error-msg">*These fields are mandatory</p>
                   <button class="btn btn-default create-task-btn" (click)="createTask()">Create</button>
                
                 </div>

            </div>
        </div>
    
        <!-- end row -->
    </div>
    <!-- end container -->